# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/blood-donation/frontend/dist
/blood-donation/frontend/tmp
/blood-donation/frontend/out-tsc
/blood-donation/frontend/bazel-out

# Node
/node_modules
/blood-donation/frontend/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
/blood-donation/frontend/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/
/blood-donation/backend/target/
/blood-donation/backend/.idea/

# System files
.DS_Store
Thumbs.db
